.button {
    background-color: rgb(16, 4, 37);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.backButton {
    width: 100px;
    height: 45px;
    background-color: rgb(241, 227, 19);
    color: rgb(16, 4, 37);
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.backButton:hover {
    background-color: rgb(243, 61, 15);
    color: white;
}

.backButton:active {
    transform: scale(0.95);
}

@media (min-width: 768px) {
    .button {
        height: 50px;
        padding: 0 40px;
        justify-content: left;
    }

    .backButton {
        width: 90px;
        height: 40px;
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    .button {
    height: 50px;
    display: flex;
    align-items: center;
    }

    .backButton {
        width: 80px;
        height: 35px;
        font-size: 12px;
    }
}